{
  "log": {
    "_recordingName": "musicbrainz provider/grabs covers for release",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "1f1dbabedc0ac7412bb9519b6ba6ebc2",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://archive.org/download/mbid-8dd38d9f-eae6-47a7-baa8-eaa467042687/index.json"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=UTF-8"
            },
            {
              "name": "location",
              "value": "https://ia801307.us.archive.org/0/items/mbid-8dd38d9f-eae6-47a7-baa8-eaa467042687/index.json"
            }
          ],
          "status": 302,
          "statusText": "Found"
        },
        "time": 834,
      },
      {
        "_id": "6b805805759b8cfa5549c68c38d63b72",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://ia801307.us.archive.org/0/items/mbid-8dd38d9f-eae6-47a7-baa8-eaa467042687/index.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3956,
            "text": "{\"images\":[{\"types\":[\"Front\"],\"front\":true,\"back\":false,\"edit\":34293307,\"image\":\"http://coverartarchive.org/release/8dd38d9f-eae6-47a7-baa8-eaa467042687/11059679162.jpg\",\"comment\":\"\",\"approved\":true,\"id\":\"11059679162\",\"thumbnails\":{\"large\":\"http://coverartarchive.org/release/8dd38d9f-eae6-47a7-baa8-eaa467042687/11059679162-500.jpg\",\"small\":\"http://coverartarchive.org/release/8dd38d9f-eae6-47a7-baa8-eaa467042687/11059679162-250.jpg\"}},{\"types\":[\"Back\",\"Spine\"],\"front\":false,\"back\":true,\"edit\":34293308,\"image\":\"http://coverartarchive.org/release/8dd38d9f-eae6-47a7-baa8-eaa467042687/11059681252.jpg\",\"comment\":\"\",\"approved\":true,\"id\":\"11059681252\",\"thumbnails\":{\"large\":\"http://coverartarchive.org/release/8dd38d9f-eae6-47a7-baa8-eaa467042687/11059681252-500.jpg\",\"small\":\"http://coverartarchive.org/r[...]
