.ROpdebee_paste_url_cont {
    position: relative;  // Needed so that config <details> can extend to full width.
    margin-left: 32px;
    margin-top: 10px;

    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 0.5rem;
    row-gap: 0.25rem;

    > input#ROpdebee_paste_url {
        grid-column: 1 / -1;
    }

    // Position the config dropdown on the left below the input
    > details.ROpdebee_ecau_config {
        grid-column: 1;
    }

    // Position the "Supported providers" link on the right below the input.
    > a#ROpdebee_ecau_providers_link {
        grid-column: 2;
    }

    + span {
        margin-left: 32px;
    }
}

a#ROpdebee_ecau_providers_link {
    text-align: right;
    font-size: smaller;
}

.ROpdebee_ecau_config {
    input[type="checkbox"], label {
        display: inline;
        vertical-align: center;
    }

    label {
        float: none !important; // Need to set !important because MB's own CSS has more specific selectors.
        margin-left: 0.5em;
    }

    details {
        padding: 0.5em 0.5em 0;
    }

    .ROpdebee_ecau_config_options {
        // Absolute positioning so that it "pops up" over the thumbnails etc.,
        // rather than resizing the entire row and shifting all other elements.
        position: absolute;
        width: 95%;
        padding: 0.5em;
        background-color: #ddd;
        border: 1px solid #ccc;
        border-radius: 6px;
        z-index: 2;  // In small-width displays, may otherwise somehow end up behind thumbnails
        box-shadow: 0px 0px 5px gray;
    }

    summary {
        font-weight: bold;
        margin: -0.5em -0.5em 0;
        padding: 0.5em;
        cursor: pointer;
        width: fit-content;
    }

    summary:hover {
        text-decoration: underline;
    }

}

.ROpdebee_import_url_buttons {
    margin-left: 32px;
    vertical-align: middle;

    > button {
        // So that they're stacked.
        display: block;
        float: none;
        margin: 4px;
    }
}
