{
  "log": {
    "_recordingName": "getting releases for URLs/returns empty list when URL does not exist",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "1da35b6695a66421e008745ab8704fb2",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "resource",
              "value": "https://example.com"
            },
            {
              "name": "inc",
              "value": "release-rels"
            },
            {
              "name": "fmt",
              "value": "json"
            }
          ],
          "url": "https://musicbrainz.org/ws/2/url?resource=https%3A%2F%2Fexample.com&inc=release-rels&fmt=json"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 93,
            "text": "{\"error\":\"Not Found\",\"help\":\"For usage, please see: https://musicbrainz.org/development/mmd\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "1200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "571"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1635611711"
            },
            {
              "name": "etag",
              "value": "\"74811b6ebfb55bc761c2a7cca11d88d6\""
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 311,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
