{
  "log": {
    "_recordingName": "qobuz provider/extracting images/extracts covers for release with booklet",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "18e79da38fa72250c87ab950f712e480",
        "request": {
          "headers": [
            {
              "name": "x-app-id",
              "value": 712109809
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "album_id",
              "value": "0825646089178"
            },
            {
              "name": "offset",
              "value": "0"
            },
            {
              "name": "limit",
              "value": "20"
            }
          ],
          "url": "https://www.qobuz.com/api.json/0.2/album/get?album_id=0825646089178&offset=0&limit=20"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 17625,
            "text": "{\"maximum_bit_depth\":24,\"copyright\":\"\\u00a9 2015 Iron Maiden LLP under exclusive license to Parlophone Records Ltd, a Warner Music Group Company \\u2117 2015 Iron Maiden LLP under exclusive license to Parlophone Records Ltd, a Warner Music Group Company\",\"product_url\":\"\\/fr-fr\\/album\\/the-book-of-souls-iron-maiden\\/0825646089178\",\"media_count\":2,\"product_sales_factors_weekly\":0,\"artist\":{\"id\":94751,\"name\":\"Iron Maiden\",\"slug\":\"iron-maiden\",\"albums_count\":219,\"picture\":null,\"image\":null},\"genres_list\":[\"Pop\\/Rock\",\"Pop\\/Rock\\u2192Rock\",\"Pop\\/Rock\\u2192Rock\\u2192Hard Rock\"],\"created_at\":1436278678,\"description\":\"\",\"released_at\":1441317600,\"product_sales_factors_monthly\":10,\"release_tags\":[],\"title\":\"The Book of Souls\",\"duration\":5528,\"parental_warning\":false,\"artists\":[{\"id\":94751,\"name\":\"Iron Maiden\",\"roles\":[\"main-artist\"]}],\"popularity\":0,\"genre\":{\"id\":115,\"color\":\"#5eabc1\",\"name\":\"Hardrock\",\"path\":[116,115],\"slug\":\"hard-rock\"},\"catchline\":\"\",\"id\":\"0825646089178\",\"slug\":\"the-book-of-souls-iron-maiden\",\"image\":{\"large\":\"https:\\/\\/static.qobuz.com\\/images\\/covers\\/78\\/91\\/0825646089178_600.jpg\",\"small\":\"https:\\/\\/static.qobuz.com\\/images\\/covers\\/78\\/91\\/0825646089178_230.jpg\",\"thumbnail\":\"https:\\/\\/static.qobuz.com\\/images\\/covers\\/78\\/91\\/0825646089178_50.jpg\",\"back\":null},\"upc\":\"0825646089178\",\"release_type\":\"album\",\"label\":{\"id\":49020,\"name\":\"Parlophone UK\",\"slug\":\"parlophone-uk\",\"supplier_id\":5,\"albums_count\":7450},\"product_sales_factors_yearly\":34.100000000000001,\"qobuz_id\":25584407,\"version\":null,\"goodies\":[{\"id\":78807,\"file_format_id\":21,\"name\":\"Livret Num\\u00e9rique\",\"description\":\"Iron Maiden - The Book of Souls\",\"url\":\"https:\\/\\/static.qobuz.com\\/goodies\\/70\\/000078807.pdf\",\"original_url\":\"https:\\/\\/static.qobuz.com\\/goodies\\/70\\/000078807.pdf\"}],\"url\":\"https:\\/\\/www.qobuz.com\\/nl-nl\\/album\\/the-book-of-souls-iron-maiden\\/0825646089178\",\"maximum_technical_specifications\":\"24 bits \\/ 48.0 kHz - Stereo\",\"is_official\":true,\"relative_url\":\"\\/album\\/the-book-of-souls-iron-maiden\\/0825646089178\",\"product_type\":\"album\",\"subtitle\":\"Iron Maiden\",\"tracks_count\":11,\"maximum_channel_count\":2,\"maximum_sampling_rate\":48,\"articles\":[{\"id\":62008803,\"url\":\"\\/order\\/62008803\",\"price\":14.99,\"currency\":\"EUR\",\"type\":\"lls\",\"label\":\"Cd-kwaliteit\",\"description\":\"Lossless, 16-bits\\/44,1 kHz (FLAC, ALAC, WMA, AIFF, WAV)\"},{\"id\":62008804,\"url\":\"\\/order\\/62008804\",\"price\":17.489999999999998,\"currency\":\"EUR\",\"type\":\"smr\",\"label\":\"Hi-Res\",\"description\":\"Tot 24-bits\\/96 kHz (FLAC, ALAC, WMA, AIFF, WAV)\"},{\"id\":62008805,\"url\":\"\\/order\\/62008805\",\"price\":9.9900000000000002,\"currency\":\"EUR\",\"type\":\"shp\",\"label\":\"Hi-Res (with Sublime)\",\"description\":\"Tot 24-bits\\/96 kHz (FLAC, ALAC, WMA, AIFF, WAV)\"}],\"release_date_original\":\"2015-09-04\",\"release_date_download\":\"2015-09-04\",\"release_date_stream\":\"2015-09-04\",\"purchasable\":true,\"streamable\":false,\"previewable\":true,\"sampleable\":true,\"downloadable\":true,\"displayable\":true,\"purchasable_at\":1634594400,\"streamable_at\":1634594400,\"hires\":true,\"hires_streamable\":false,\"tracks\":{\"offset\":0,\"limit\":20,\"total\":11,\"items\":[{\"maximum_bit_depth\":24,\"copyright\":\"\\u00a9 2015 Iron Maiden LLP under exclusive license to Parlophone Records Ltd, a Warner Music Group Company \\u2117 2015 Iron Maiden LLP under exclusive license to Parlophone Records Ltd, a Warner Music Group Company (World ex. US) | 2015 Iron Maiden Holdings Ltd. Under exclusive license to Sanctuary Records Group Ltd., a BMG Company (United States)\",\"performers\":\"Steve Harris, Bass Guitar, CoProducer - Janick Gers, Guitar - Dave Murray, Guitar - Bruce Dickinson, Vocals, Writer - Iron Maiden, MainArtist - Kevin Shirley, Producer, Engineer - Adrian Smith, Guitar - Nicko McBrain, Drums - Ade Emsley, MasteringEngineer\",\"audio_info\":{\"replaygain_track_peak\":0.89660600000000001,\"replaygain_track_gain\":-8},\"performer\":{\"name\":\"Iron Maiden\",\"id\":94751},\"work\":null,\"isrc\":\"GBCHB1500229\",\"title\":\"If Eternity Should Fail\",\"version\":null,\"duration\":508,\"parental_warning\":false,\"track_number\":1,\"maximum_channel_count\":2,\"id\":25584408,\"media_number\":1,\"maximum_sampling_rate\":48,\"release_date_original\":null,\"release_date_download\":null,\"release_date_stream\":null,\"purchasable\":true,\"streamable\":false,\"previewable\":true,\"sampleable\":true,\"downloadable\":true,\"displayable\":true,\"purchasable_at\":1634594400,\"streamable_at\":1634594400,\"hires\":true,\"hires_streamable\":false},{\"maximum_bit_depth\":24,\"copyright\":\"\\u00a9 2015 Iron Maiden LLP under exclusive license to Parlophone Records Ltd, a Warner Music Group Company[...]
