/dist/**
/coverage/*
# Ignore top-level scripts for now
/mb_*.js
/lib/*
/node_modules/**
# ESLint gets really slow when it needs to lint its own configuration. Not sure
# whether it ever even halts. This covers both .eslintrc.cjs files in the repo.
.eslintrc.cjs
