{
  "log": {
    "_recordingName": "discogs provider/extracting images/throws on non-existent release",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.1"
    },
    "entries": [
      {
        "_id": "474e9e5a520399c60171a9d1f8584295",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "operationName",
              "value": "ReleaseAllImages"
            },
            {
              "name": "variables",
              "value": "{\"discogsId\":32342343,\"count\":500}"
            },
            {
              "name": "extensions",
              "value": "{\"persistedQuery\":{\"version\":1,\"sha256Hash\":\"13e41f41a02b02d0a7e855a71e1a02478fd2fb0a2d104b54931d649e1d7c6ecd\"}}"
            }
          ],
          "url": "https://www.discogs.com/internal/release-page/api/graphql?operationName=ReleaseAllImages&variables=%7B%22discogsId%22%3A32342343%2C%22count%22%3A500%7D&extensions=%7B%22persistedQuery%22%3A%7B%22version%22%3A1%2C%22sha256Hash%22%3A%2213e41f41a02b02d0a7e855a71e1a02478fd2fb0a2d104b54931d649e1d7c6ecd%22%7D%7D"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 190,
            "text": "{\"data\":{\"release\":null},\"extensions\":{\"tracing\":{\"version\":1,\"startTime\":\"2021-12-07T01:27:33.345Z\",\"endTime\":\"2021-12-07T01:27:33.371Z\",\"duration\":25494754,\"execution\":{\"resolvers\":[]}}}}\n"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-discogs-flags",
              "value": "ssr_login=1, ssr_user=0, ssr_defer=0, disable_ads=0, sentry=0"
            },
            {
              "name": "x-pollyjs-finalurl",
              "value": "https://www.discogs.com/internal/release-page/api/graphql?operationName=ReleaseAllImages&variables=%7B%22discogsId%22%3A32342343%2C%22count%22%3A500%7D&extensions=%7B%22persistedQuery%22%3A%7B%22version%22%3A1%2C%22sha256Hash%22%3A%2213e41f41a02b02d0a7e855a71e1a02478fd2fb0a2d104b54931d649e1d7c6ecd%22%7D%7D"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 885,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
