{
  "log": {
    "_recordingName": "qub musique provider/extracting images/extracts covers for release",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "bb2a5fb017a7ef455f5c12269b8c16e5",
        "request": {
          "headers": [
            {
              "name": "x-app-id",
              "value": "712109809"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "album_id",
              "value": "dbssxi6nl5fuc"
            },
            {
              "name": "offset",
              "value": "0"
            },
            {
              "name": "limit",
              "value": "20"
            }
          ],
          "url": "https://www.qobuz.com/api.json/0.2/album/get?album_id=dbssxi6nl5fuc&offset=0&limit=20"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 12511,
            "text": "{\"maximum_bit_depth\":16,\"copyright\":\"2021 Canicule Records 2021 Canicule Records\",\"product_url\":\"\\/fr-fr\\/album\\/pour-le-plug-tizzo\\/dbssxi6nl5fuc\",\"media_count\":1,\"product_sales_factors_weekly\":0,\"artist\":{\"id\":4165177,\"name\":\"Tizzo\",\"slug\":\"tizzo\",\"albums_count\":15,\"picture\":null,\"image\":null},\"genres_list\":[\"Rap\"],\"created_at\":1627310302,\"description\":\"\",\"released_at\":1634248800,\"product_sales_factors_monthly\":0,\"release_tags\":[],\"title\":\"Pour le Plug\",\"duration\":2132,\"parental_warning\":true,\"artists\":[{\"id\":4165177,\"name\":\"Tizzo\",\"roles\":[\"main-artist\"]}],\"popularity\":0,\"genre\":{\"id\":133,\"color\":\"#5eabc1\",\"name\":\"Hip-Hop\\/Rap\",\"path\":[133],\"slug\":\"rap-hip-hop\"},\"catchline\":\"\",\"id\":\"dbssxi6nl5fuc\",\"slug\":\"pour-le-plug-tizzo\",\"image\":{\"large\":\"https:\\/\\/static.qobuz.com\\/images\\/covers\\/uc\\/5f\\/dbssxi6nl5fuc_600.jpg\",\"small\":\"https:\\/\\/static.qobuz.com\\/images\\/covers\\/uc\\/5f\\/dbssxi6nl5fuc_230.jpg\",\"thumbnail\":\"https:\\/\\/static.qobuz.com\\/images\\/covers\\/uc\\/5f\\/dbssxi6nl5fuc_50.jpg\",\"back\":null},\"composer\":{\"id\":573076,\"name\":\"Various Composers\",\"slug\":\"various-composers\",\"albums_count\":583621,\"picture\":null,\"image\":null},\"upc\":\"3616558001818\",\"release_type\":\"album\",\"label\":{\"id\":1065091,\"name\":\"Canicule Records\",\"slug\":\"canicule-records\",\"supplier_id\":3,\"albums_count\":28},\"product_sales_factors_yearly\":0,\"qobuz_id\":127435241,\"version\":null,\"url\":\"https:\\/\\/www.qobuz.com\\/nl-nl\\/album\\/pour-le-plug-tizzo\\/dbssxi6nl5fuc\",\"is_official\":false,\"relative_url\":\"\\/album\\/pour-le-plug-tizzo\\/dbssxi6nl5fuc\",\"product_type\":\"album\",\"subtitle\":\"Tizzo\",\"tracks_count\":11,\"maximum_channel_count\":2,\"maximum_sampling_rate\":44.100000000000001,\"articles\":[{\"id\":490612289,\"url\":\"\\/order\\/490612289\",\"price\":8.9900000000000002,\"currency\":\"EUR\",\"type\":\"lls\",\"label\":\"Cd-kwaliteit\",\"description\":\"Lossless, 16-bits\\/44,1 kHz (FLAC, ALAC, WMA, AIFF, WAV)\"}],\"release_date_original\":\"2021-10-15\",\"release_date_download\":\"2021-10-15\",\"release_date_stream\":\"2021-10-15\",\"purchasable\":true,\"streamable\":false,\"previewable\":true,\"sampleable\":true,\"downloadable\":true,\"displayable\":true,\"purchasable_at\":1634248800,\"streamable_at\":1634248800,\"hires\":false,\"hires_streamable\":false,\"tracks\":{\"offset\":0,\"limit\":20,\"total\":11,\"items\":[{\"maximum_bit_depth\":16,\"copyright\":\"2021 Canicule Records 2021 Canicule Records\",\"performers\":\"Tizzo, MainArtist - Teddy Laguerre, Lyricist - Birdzonthetrack, Producer - Lendcey Fineus, Composer\",\"audio_info\":{\"replaygain_track_peak\":0.96606400000000003,\"replaygain_track_gain\":-9.0199999999999996},\"performer\":{\"name\":\"Tizzo\",\"id\":4165177},\"work\":null,\"composer\":{\"name\":\"Lendcey Fineus\",\"id\":7524070},\"isrc\":\"FRX282176261\",\"title\":\"#PLP\",\"version\":\"Intro\",\"duration\":191,\"parental_warning\":true,\"track_number\":1,\"maximum_channel_count\":2,\"id\":127435242,\"media_number\":1,\"maximum_sampling_rate\":44.100000000000001,\"release_date_original\":null,\"release_date_download\":null,\"release_date_stream\":null,\"purchasable\":true,\"streamable\":false,\"previewable\":true,\"sampleable\":true,\"downloadable\":true,\"displayable\":true,\"purchasable_at\":1634248800,\"streamable_at\":1634248800,\"hires\":false,\"hires_streamable\":false},{\"maximum_bit_depth\":16,\"copyright\":\"2021 Canicule Records 2021 Canicule Records\",\"performers\":\"P.C., Producer - Tizzo, Main[...]
