{
  "log": {
    "_recordingName": "tidal provider/extracting images/extracts covers for release with video cover",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.1"
    },
    "entries": [
      {
        "_id": "47c39b1a5162a6c91ca5b413317109d4",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://listen.tidal.com/v1/ping"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 2,
            "text": "OK"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            },
            {
              "name": "x-pollyjs-finalurl",
              "value": "https://listen.tidal.com/v1/ping"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 245,
      },
      {
        "_id": "c77873e2c8d87b184c964c6c0445b419",
        "request": {
          "headers": [
            {
              "name": "x-tidal-token",
              "value": "CzET4vdadNUFQ5JU"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "albumId",
              "value": "171032759"
            },
            {
              "name": "countryCode",
              "value": "NL"
            },
            {
              "name": "deviceType",
              "value": "BROWSER"
            }
          ],
          "url": "https://listen.tidal.com/v1/pages/album?albumId=171032759&countryCode=NL&deviceType=BROWSER"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 3634,
            "text": "{\"selfLink\":null,\"id\":\"eyJwIjoiZTZlM2ZmMWItZDZjNC00NzczLTg4ZDAtMGNmOTdjY2ZjYjU5IiwicFYiOjEzfQ==\",\"title\":\"Wild Youngster (feat. ScHoolboy Q) (Jamie Jones' Wobble Remix)\",\"rows\":[{\"modules\":[{\"id\":\"eyJwIjoiZTZlM2ZmMWItZDZjNC00NzczLTg4ZDAtMGNmOTdjY2ZjYjU5IiwicFYiOjEzLCJtIjoiOTg3YjJiZGUtMGE5MS00YzYxLWFkNGItNzllYzdkNGY5NmU0IiwibVYiOjEsIm1IIjoiYTRkNjQ0NWEifQ==\",\"type\":\"ALBUM_HEADER\",\"width\":100,\"title\":\"\",\"description\":\"\",\"preTitle\":\"\",\"album\":{\"id\":171032759,\"title\":\"Wild Youngster (feat. ScHoolboy Q) (Jamie Jones' Wobble Remix)\",\"duration\":193,\"streamReady\":true,\"streamStartDate\":\"2021-02-12T00:00:00.000+0000\",\"allowStreaming\":true,\"numberOfTracks\":1,\"numberOfVideos\":0,\"numberOfVolumes\":1,\"releaseDate\":\"2021-02-12\",\"copyright\":\"(P) 2021 The Wild Children, LLC under exclusive license to Three Six Zero Recordings/Sony Music Entertainment\",\"type\":\"SINGLE\",\"version\":null,\"url\":\"http://www.tidal.com/album/171032759\",\"cover\":\"72c1e674-70ca-4442-a530-0f00b0ef354a\",\"videoCover\":\"9cc2842e-7430-4280-a7ba-4e06eec9ab3f\",\"explicit\":false,\"popularity\":0,\"audioQuality\":\"HI_RES\",\"audioModes\":[\"STEREO\"],\"artists\":[{\"id\":20699717,\"name\":\"NEZ\",\"type\":\"MAIN\",\"picture\":\"43d88a75-b76c-437f-8892-b8c7fe151fb3\"},{\"id\":3882537,\"name\":\"ScHoolboy Q\",\"type\":\"FEATURED\",\"picture\":\"4b9d0b7b-f972-435a-ac3e-639b407fe0bc\"}]},\"review\":{\"text\":null,\"source\":null},\"credits\":{\"items\":[]},\"playbackControls\":[{\"shuffle\":false,\"playbackMode\":\"PLAY\",\"title\":\"Play\",\"icon\":\"play_tracks\",\"targetModuleId\":\"eyJwIjoiZTZlM2ZmMWItZDZjNC00NzczLTg4ZDAtMGNmOTdjY2ZjYjU5IiwicFYiOjEzLCJtIjoiNjJmY2NhZTUtNDIwZC00MGJlLWJjZGMtZTUzODIwYzAwZjA5IiwibVYiOjEsIm1IIjoiYmMzMGM4NWQifQ==\"},{\"shuffle\":true,\"playbackMode\":\"SHUFFLE\",\"title\":\"Shuffle\",\"icon\":\"shuffle_tracks\",\"targetModuleId\":\"eyJwIjoiZTZlM2ZmMWItZDZjNC00NzczLTg4ZDAtMGNmOTdjY2ZjYjU5IiwicFYiOjEzLCJtIjoiNjJmY2NhZTUtNDIwZC00MGJlLWJjZGMtZTUzODIwYzAwZjA5IiwibVYiOjEsIm1IIjoiYmMzMGM4NWQifQ==\"}]}]},{\"modules\":[{\"id\":\"eyJwIjoiZTZlM2ZmMWItZDZjNC00NzczLTg4ZDAtMGNmOTdjY2ZjYjU5IiwicFYiOjEzLCJtIjoiNjJmY2NhZTUtNDIwZC00MGJlLWJjZGMtZTUzODIwYzAwZjA5IiwibVYiOjEsIm1IIjoiYmMzMGM4NWQifQ==\",\"type\":\"ALBUM_ITEMS\",\"width\":100,\"title\":\"\",\"description\":\"\",\"preTitle\":null,\"showMore\":null,\"supportsPaging\":false,\"quickPlay\":false,\"copyright\":\"(P) 2021 The Wild Children, LLC under exclusive license to Three Six Zero Recordings/Sony Music Entertainment\",\"releaseDate\":\"2021-02-12\",\"listFormat\":\"NUMBERS\",\"pagedList\":{\"limit\":9999,\"offset\":0,\"totalNumberOfItems\":1,\"items\":[{\"item\":{\"id\":171032760,\"title\":\"Wild Youngster (feat. ScHoolboy Q) (Jamie Jones' Wobble Remix)\",\"duration\":193,\"version\":null,\"url\":\"http://www.tidal.com/track/171032760\",\"artists\":[{\"id\":20699717,\"name\":\"NEZ\",\"type\":\"MAIN\",\"picture\":\"43d88a75-b76c-437f-8892-b8c7fe151fb3\"},{\"id\":3882537,\"name\":\"ScHoolboy Q\",\"type\":\"FEATURED\",\"picture\":\"4b9d0b7b-f972-435a-ac3e-639b407fe0bc\"}],\"album\":{\"id\":171032759,\"title\":\"Wild Youngster (feat. ScHoolboy Q) (Jamie Jones' Wobble Remix)\",\"cover\":\"72c1e674-70ca-4442-a530-0f00b0ef354a\",\"vibrantColor\":\"#FFFFFF\",\"videoCover\":\"9cc2842e-7430-4280-a7ba-4e06eec9ab3f\",\"url\":\"http://www.tidal.com/album/171032759\",\"releaseDate\":\"2021-02-12\"},\"explicit\":false,\"volumeNumber\":1,\"trackNumber\":1,\"popularity\":1,\"allowStreaming\":true,\"streamReady\":true,\"streamStartDate\":\"2021-02-12T00:00:00.000+0000\",\"editable\":false,\"replayGain\":-6.56,\"audioQuality\":\"HI_RES\",\"audioModes\":[\"STEREO\"],\"mixes\":{\"MASTER_TRACK_MIX\":\"0146c3e3ea420c3b8440c8d4845aa8\",\"TRACK_MIX\":\"0011fb8ceb3f1ac3b3ad78d0b5e07e\"}},\"type\":\"track\"}],\"dataApiPath\":\"pages/data/2fbf68c2-dc58-49b1-b1be-6958e66383f3?albumId=171032759\"},\"playButton\":true,\"shuffleButton\":true}]}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "etag",
              "value": "\"-84408911\""
            },
            {
              "name": "x-pollyjs-finalurl",
              "value": "https://listen.tidal.com/v1/pages/album?albumId=171032759&countryCode=NL&deviceType=BROWSER"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 273,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
