{
  "log": {
    "_recordingName": "bandcamp provider/extracting images/extracts covers for release with track images",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "695bb89b04256a7c1525b471bddf9851",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://nyokee.bandcamp.com/album/quarantine-pixel-party"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "size": 234088,
            "text": "    \n\n<!DOCTYPE html>\n\n\n\n<html   xmlns:og=\"http://opengraphprotocol.org/schema/\"\n        xmlns:fb=\"http://www.facebook.com/2008/fbml\"\n        lang=\"en\">\n\n<head>\n    <title>Quarantine Pixel Party | Nyokeë</title>\n    \n    \n\n\n\n    <meta name=\"description\" content=\"\nQuarantine Pixel Party by Nyokeë, released 22 May 2020\n\n1. Nyokeë - Thymos\n2. Nyokeë - Mind Is Free\n3. Nyokeë - RockIt feat. Alien Joe\n4. Nyokeë - Sweet Obsession\n5. Nyokeë - Insane\n6. Nyokeë - Criminal\n7. Nyokeë - Serendipity\n8. Nyokeë - Like I Used To\n9. Nyokeë - Dancin&amp;#39; ... Outer Space\n\n\">\n    \n     \n    <link rel=\"shortcut icon\" href=\"https://f4.bcbits.com/img/a1225644503_3.jpg\">\n    <link rel=\"apple-touch-icon\" href=\"https://f4.bcbits.com/img/a1225644503_3.jpg\">\n\n\n<meta name=\"msapplication-TileColor\" content=\"#603cba\">\n<meta name=\"theme-color\" content=\"#ffffff\">\n    <meta name=\"apple-mobile-web-app-capable\" content=\"yes\">\n    \n    \n\n    \n    \n        <meta name=\"title\" content=\"Quarantine Pixel Party, by Nyokeë\">\n        <meta property=\"og:title\" content=\"Quar[...]
