{
  "log": {
    "_recordingName": "tidal provider/extracting images/extracts covers for listen.tidal.com release",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.1"
    },
    "entries": [
      {
        "_id": "69affdf839c5344b576cb4e2189c1779",
        "request": {
          "headers": [
            {
              "name": "x-tidal-token",
              "value": "CzET4vdadNUFQ5JU"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "countryCode",
              "value": "WW"
            },
            {
              "name": "locale",
              "value": "en_US"
            },
            {
              "name": "deviceType",
              "value": "BROWSER"
            }
          ],
          "url": "https://listen.tidal.com/v1/country/context?countryCode=WW&locale=en_US&deviceType=BROWSER"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 22,
            "text": "{\"countryCode\": \"NL\" }"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-pollyjs-finalurl",
              "value": "https://listen.tidal.com/v1/country/context?countryCode=WW&locale=en_US&deviceType=BROWSER"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1212,
      },
      {
        "_id": "47c39b1a5162a6c91ca5b413317109d4",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://listen.tidal.com/v1/ping"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 2,
            "text": "OK"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
     [...]
