{
  "log": {
    "_recordingName": "vgmdb provider/finding images/uses picture if no covers are available",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "1450ae0fc86b63bce3149e661869d9a2",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            }
          ],
          "url": "https://vgmdb.info/album/90871?format=json"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 8088,
            "text": "{\n    \"arrangers\": [\n        {\n            \"link\": \"artist/32355\",\n            \"names\": {\n                \"en\": \"vistlip\"\n            }\n        }\n    ],\n    \"barcode\": \"4535506090416\",\n    \"catalog\": \"MJSS-09041~2\",\n    \"categories\": [\n        \"Animation\"\n    ],\n    \"category\": \"Animation\",\n    \"classification\": \"Vocal\",\n    \"composers\": [\n        {\n            \"link\": \"artist/32356\",\n            \"names\": {\n                \"en\": \"Tohya\"\n            }\n        }\n    ],\n    \"covers\": [],\n    \"discs\": [\n        {\n            \"disc_length\": \"12:04\",\n            \"name\": \"Disc 1 (CD) [MJSS-09041]\",\n            \"tracks\": [\n                {\n                    \"names\": {\n                        \"English\": \"-OZONE-\"\n                    },\n                    \"track_length\": \"4:39\"\n                },\n                {\n                    \"names\": {\n                        \"English\": \"TWISTER\"\n                    },\n                    \"track_length\": \"3:12\"\n                },\n                {\n                    \"names\": {\n                        \"English\": \"Mr.Grim\"\n                    },\n                    \"track_length\": \"4:13\"\n                }\n            ]\n        },\n        {\n            \"disc_length\": \"Unknown\",\n            \"name\": \"Disc 2 (DVD) [MJSS-09042]\",\n            \"tracks\": [\n                {\n                    \"names\": {\n                        \"English\": \"-OZONE- (VIDEO CLIP)\"\n                    },\n                    \"track_length\": \"Unknown\"\n                }\n            ]\n        }\n    ],\n    \"distributor\": {\n        \"link\": \"org/136\",\n        \"names\": {\n            \"en\": \"Sony Music Distribution (Japan) Inc.\",\n            \"ja\": \"株式会社ソニー・ミュージックディストリビューション\",\n            \"ja-latn\": \"Sony Music Distribution (Japan) Inc.\"\n        },\n        \"role\": \"distributor\"\n    },\n    \"link\": \"album/90871\",\n    \"lyricists\": [\n        {\n            \"link\": \"artist/32357\",\n            \"names\": {\n                \"en\": \"tomo\",\n                \"ja\": \"智\"\n            }\n        }\n    ],\n    \"media_format\": \"CD + DVD\",\n    \"meta\": {\n        \"added_date\": \"2019-09-25T13:52\",\n        \"edited_date\": \"2019-09-25T13:54\",\n        \"fetched_date\": \"2021-10-16T15:03\",\n        \"ttl\": 86400,\n        \"visitors\": 424\n    },\n    \"name\": \"-OZONE- / vistlip [vister]\",\n    \"names\": {\n        \"en\": \"-OZONE- / vistlip [vister]\",\n        \"ja\": \"-OZONE- / vistlip [vister]\",\n        \"ja-latn\": \"-OZONE- / vistlip [vister]\"\n    },\n    \"notes\": \"M-01 - TV Anime \\\"YU-GI-OH! 5D's\\\" 3rd Ending Theme\",\n    \"organizations\": [\n        {\n            \"link\": \"org/2818\",\n            \"names\": {\n                \"en\": \"MMV\",\n                \"ja\": \"MMV\",\n                \"ja-latn\": \"MMV\"\n            },\n            \"role\": \"label\"\n        },\n        {\n            \"link\": \"org/60\",\n            \"names\": {\n                \"en\": \"Marvelous Entertainment Inc.\",\n                \"ja\": \"株式会社 マーベラスエンターテイメント\",\n                \"ja-latn\": \"Marvelous Entertainment Inc.\"\n            },\n            \"role\": \"manufacturer\"\n        },\n        {\n            \"link\": \"org/136\",\n            \"names\": {\n                \"en\": \"Sony Music Distribution (Japan) Inc.\",\n                \"ja\": \"株式会社ソニー・ミュージックディストリビューション\",\n                \"ja-latn\": \"Sony Music Distribution (Japan) Inc.\"\n            },\n            \"role\": \"distributor\"\n        }\n    ],\n    \"performers\": [\n        {\n            \"link\": \"artist/32355\",\n            \"names\": {\n                \"en\": \"vistlip\"\n            }\n        }\n    ],\n    \"picture_full\": \"https://media.vgm.io/albums/17/90871/90871-1569448344.jpg\",\n    \"picture_small\": \"https://medium-media.vgm.io/albums/17/90871/90871-1569448344.jpg\",\n    \"picture_thumb\": \"https://thumb-media.vgm.io/albums/17/90871/90871-1569448344.jpg\",\n    \"platforms\": [\n        \"Series\"\n    ],\n    \"products\": [\n        {\n            \"link\": \"product/2247\",\n            \"names\": {\n                \"en\": \"YU-GI-OH! 5D's\",\n                \"ja\": \"遊☆戯☆王5D's\",\n                \"ja-latn\": \"YU-GI-OH! 5D's\"\n            }\n        }\n    ],\n    \"publish_format\": \"Commercial\",\n    \"publisher\": {\n        \"link\": \"org/2818\",\n        \"names\": {\n            \"en\": \"MMV\",\n            \"ja\": \"MMV\",\n            \"ja-latn\": \"MMV\"\n        },\n        \"role\": \"label\"\n    },\n    \"related\": [\n        {\n            \"catalog\": \"KICM-91234\",\n            \"link\": \"album/105474\",\n            \"names\": {\n                \"en\": \"Kizuna / Kra\",\n                \"ja\": \"絆-キズナ- / Kra\",\n                \"ja-latn\": \"Kizuna / Kra\"\n            },\n            \"type\": \"anime\"\n        },\n        {\n            \"catalog\": \"KICM-1234\",\n            \"link\": \"album/105191\",\n            \"names\": {\n                \"en\": \"Kizuna / Kra\",\n                \"ja\": \"絆-キズナ- / Kra\",\n                \"ja-latn\": \"Kizuna / Kra\"\n            },\n            \"type\": \"anime\"\n        },\n        {\n            \"catalog\": \"MJCD-23042\",\n            \"link\": \"album/105475\",\n            \"names\": {\n                \"en\": \"START/Sun will sh[...]
