{
  "log": {
    "_recordingName": "qobuz provider/extracting images/extracts covers for release without booklet",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.1"
    },
    "entries": [
      {
        "_id": "0c314f33ec6effa16233f3c00c217bba",
        "request": {
          "headers": [
            {
              "name": "x-app-id",
              "value": "712109809"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "album_id",
              "value": "0060075330437"
            },
            {
              "name": "offset",
              "value": "0"
            },
            {
              "name": "limit",
              "value": "20"
            }
          ],
          "url": "https://www.qobuz.com/api.json/0.2/album/get?album_id=0060075330437&offset=0&limit=20"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 17465,
            "text": "{\"maximum_bit_depth\":16,\"copyright\":\"\\u00a9 1979 A&M Records \\u2117 2010 A&M Records\",\"product_url\":\"\\/fr-fr\\/album\\/breakfast-in-america-supertramp\\/0060075330437\",\"media_count\":1,\"product_sales_factors_weekly\":0.29999999999999999,\"artist\":{\"id\":50242,\"name\":\"Supertramp\",\"slug\":\"supertramp\",\"albums_count\":48,\"picture\":null,\"image\":null},\"genres_list\":[\"Pop\\/Rock\",\"Pop\\/Rock\\u2192Rock\"],\"created_at\":1285024759,\"description\":\"With Breakfast in America, Supertramp had a genuine blockbuster hit, topping the charts for four weeks in the U.S. and selling millions of copies worldwide; by the 1990s, the album had sold over 18 million units across the world. Although their previous records had some popular success, they never even hinted at the massive sales of Breakfast in America. Then again, Supertramp's earlier records weren't as pop-oriented as Breakfast. The majority of the album consisted of tightly written, catchy, well-constructed pop songs, like the hits \\\"The Logical Song,\\\" \\\"Take the Long Way Home,\\\" and \\\"Goodbye Stranger.\\\" Supertramp still had a tendency to indulge themselves occasionally, but Breakfast in America had very few weak moments. It was clearly their high-water mark.\\n<br \\/>&copy  Stephen Thomas Erlewine \\/TiVo\",\"released_at\":291510000,\"product_sales_factors_monthly\":5.5,\"release_tags\":[\"remaster\"],\"title\":\"Breakfast In America\",\"duration\":2774,\"parental_warning\":false,\"artists\":[{\"id\":50242,\"name\":\"Supertramp\",\"roles\":[\"main-artist\"]}],\"popularity\":0,\"genre\":{\"id\":119,\"color\":\"#5eabc1\",\"name\":\"Rock\",\"path\":[112,119],\"slug\":\"rock\"},\"catchline\":\"\",\"id\":\"0060075330437\",\"slug\":\"breakfast-in-america-supertramp\",\"image\":{\"large\":\"https:\\/\\/static.qobuz.com\\/images\\/covers\\/37\\/04\\/0060075330437_600.jpg\",\"small\":\"https:\\/\\/static.qobuz.com\\/images\\/covers\\/37\\/04\\/0060075330437_230.jpg\",\"thumbnail\":\"https:\\/\\/static.qobuz.com\\/images\\/covers\\/37\\/04\\/0060075330437_50.jpg\",\"back\":null},\"composer\":{\"id\":573076,\"name\":\"Various Composers\",\"slug\":\"various-composers\",\"albums_count\":583621,\"picture\":null,\"image\":null},\"upc\":\"0060075330437\",\"release_type\":\"album\",\"label\":{\"id\":1211,\"name\":\"A&M\",\"slug\":\"a-m\",\"supplier_id\":1,\"albums_count\":1507},\"product_sales_factors_yearly\":66.599999999999994,\"qobuz_id\":3224387,\"version\":\"Remastered\",\"url\":\"https:\\/\\/www.qobuz.com\\/nl-nl\\/album\\/breakfast-in-america-supertramp\\/0060075330437\",\"is_official\":true,\"relative_url\":\"\\/album\\/breakfast-in-america-supertramp\\/0060075330437\",\"product_type\":\"album\",\"awards\":[{\"slug\":\"qobuz\",\"award_slug\":\"discotheque_ideale\",\"name\":\"The Qobuz Ideal Discography\",\"awarded_at\":1401573600,\"award_id\":\"70\",\"publication_id\":\"2\",\"publication_name\":\"Qobuz\",\"publication_slug\":\"qobuz\"}],\"subtitle\":\"Supertramp\",\"tracks_count\":10,\"maximum_channel_count\":2,\"maximum_sampling_rate\":44.100000000000001,\"articles\":[{\"id\":2645395,\"url\":\"\\/order\\/2645395\",\"price\":12.49,\"currency\":\"EUR\",\"type\":\"lls\",\"label\":\"Cd-kwaliteit\",\"description\":\"Lossless, 16-bits\\/44,1 kHz (FLAC, ALAC, WMA, AIFF, WAV)\"}],\"release_date_original\":\"1979-03-29\",\"release_date_download\":\"1979-03-29\",\"release_date_stream\":\"1979-03-29\",\"purchasable\":true,\"streamable\":false,\"previewable\":true,\"sampleable\":true,\"downloadable\":true,\"displayable\":true,\"purchasable_at\":1638399600,\"streamable_at\":1638399600,\"hires\":false,\"hires_streamable\":false,\"tracks\":{\"offset\":0,\"limit\":20,\"total\":10,\"items\":[{\"maximum_bit_depth\":16,\"copyright\":\"\\u2117 2010 A&M Records\",\"performers\":\"Peter Henderson, Producer, Engineer, Mastering Engineer, StudioPersonnel - RICK DAVIES, Keyboards, Vocalist, AssociatedPerformer, ComposerLyricist - ROGER HODGSON, Guitar, Keyboards, Vocalist, AssociatedPerformer, ComposerLyricist - Jeff Harris, Engineer, StudioPersonnel - Dougie Thomson, Bass Guitar, AssociatedPerformer - Supertramp, Producer, MainArtist - Lenise Bent, Asst. Recording Engineer, StudioPersonnel - Gary Mielke, Programming, AssociatedPerformer - John A. Helliwell, Woodwinds, AssociatedPerformer - Bob C Benberg, Drums, AssociatedPerformer - Russel Pope, Engineer, StudioPersonnel\",\"audio_info\":{\"replaygain_track_peak\":0.99883999999999995,\"replaygain_track_gain\":-6.7800000000000002},\"performer\":{\"name\":\"Supertramp\",\"id\":50242},\"work\":null,\"composer\":{\"name\":\"Roger Hodgson\",\"id\":56183},\"isrc\":\"USUM71021479\",\"title\":\"Gone Hollywood\",\"version\":\"2010 Remastered\",\"duration\":320,\"parental_warning\":false,\"track_number\":1,\"maximum_channel_count\":2,\"id\":2503923,\"media_number\":1,\"maximum_sampling_rate\":44.100000000000001,\"release_date_original\":null,\"release_date_download\":null,\"release_date_stream\":null,\"purchasable\":true,\"streamable\":false,\"previewable\":true,\"sampleable\":true,\"downloadable\":true,\"displayable\":true,\"purchasable_at\":1638399600,\"streamable_at\":1638399600,\"hires\":false,\"hires_streamable\":false},{\"maximum_bit_depth\":16,\"copyright\":\"\\u2117 2010 A&M Records\",\"performers\":\"Peter Henderson, Producer, Engineer, Mastering [...]
