{
  "log": {
    "_recordingName": "bandcamp provider/deduplicates track images by content",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "99cc274cbbcd7dc291070464941e490c",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://inhuman1.bandcamp.com/album/course-of-human-destruction"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "size": 269488,
            "text": "    \n\n<!DOCTYPE html>\n\n\n\n<html   xmlns:og=\"http://opengraphprotocol.org/schema/\"\n        xmlns:fb=\"http://www.facebook.com/2008/fbml\"\n        lang=\"en\">\n\n<head>\n    <title>Course of Human Destruction | Inhuman | INHUMAN</title>\n    \n    \n\n\n\n    <meta name=\"description\" content=\"\nCourse of Human Destruction by Inhuman, released 01 April 2013\n\n1. Priest INC.\n2. Dead to Rot\n3. Course of Human Destruction\n4. Shame on You\n5. Blood Obsessed\n6. I Can Smell the Death\n7. Vomit on the Cross\n8. Vengeance\n\nProduced by Marcos Monnerat and Jonathan Sanchez At Monnerat&amp;#39;s Studios, San Jose - Costa Rica\r\n\r\nEngineered and Mixed by Marcos Monnerat\r\n\r\nMastered by Esteban Rojas at CISMA Producciones \r\n\r\nArt Work by JL Rey at Phlegeton Art Studio http://www.phlegeton.com/\r\n\r\nMusic by Jonathan Sanchez\r\nLyrics by Sergio Munoz\r\n\r\nInhuman Links\r\nhttps://www.facebook.com/Inhuman.MetalBand\r\n\r\n\r\n\r\nContact: inhumancr@gmail.com\n\">\n    \n     \n    <link rel=\"shortcut icon\" href=\"https://f4.bcbits.com/img/a0737574027_3.jpg\">\n    <link rel=\"apple-touch-icon\" href=\"https://f4.bcbits.com/img/a0737574027_3.jpg\">\n\n\n<meta name=\"msapplication-TileColor\" content=\"#603cba\">\n<meta name=\"theme-color\" content=\"#ffffff\">\n    <meta name=\"apple-mobile-web-app-capable\" content=\"yes\">\n    \n    \n\n    \n    \n        <meta name=\"title\" content=\"Course of Human Destruction, by Inhuman\">\n        <meta property=\"og:title\" content=[...]
