{
  "log": {
    "_recordingName": "qub musique provider/extracting images/throws on non-existent release",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "0282e3483a96e23fa29c0d86bb10b982",
        "request": {
          "headers": [
            {
              "name": "x-app-id",
              "value": "712109809"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "album_id",
              "value": "dbssx"
            },
            {
              "name": "offset",
              "value": "0"
            },
            {
              "name": "limit",
              "value": "20"
            }
          ],
          "url": "https://www.qobuz.com/api.json/0.2/album/get?album_id=dbssx&offset=0&limit=20"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 75,
            "text": "{\"status\":\"error\",\"code\":404,\"message\":\"No result matching given argument\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-pollyjs-finalurl",
              "value": "https://www.qobuz.com/api.json/0.2/album/get?album_id=dbssx&offset=0&limit=20"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 223,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
