{
  "log": {
    "_recordingName": "tidal provider/extracting images/extracts covers for store.tidal.com release",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.1"
    },
    "entries": [
      {
        "_id": "47c39b1a5162a6c91ca5b413317109d4",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://listen.tidal.com/v1/ping"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 2,
            "text": "OK"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            },
            {
              "name": "x-pollyjs-finalurl",
              "value": "https://listen.tidal.com/v1/ping"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 368,
      },
      {
        "_id": "313883047370a53028a4cd3c723ed0d3",
        "request": {
          "headers": [
            {
              "name": "x-tidal-token",
              "value": "CzET4vdadNUFQ5JU"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "albumId",
              "value": "175441105"
            },
            {
              "name": "countryCode",
              "value": "NL"
            },
            {
              "name": "deviceType",
              "value": "BROWSER"
            }
          ],
          "url": "https://listen.tidal.com/v1/pages/album?albumId=175441105&countryCode=NL&deviceType=BROWSER"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 2879,
            "text": "{\"selfLink\":null,\"id\":\"eyJwIjoiZTZlM2ZmMWItZDZjNC00NzczLTg4ZDAtMGNmOTdjY2ZjYjU5IiwicFYiOjEzfQ==\",\"title\":\"Maiilett\",\"rows\":[{\"modules\":[{\"id\":\"eyJwIjoiZTZlM2ZmMWItZDZjNC00NzczLTg4ZDAtMGNmOTdjY2ZjYjU5IiwicFYiOjEzLCJtIjoiOTg3YjJiZGUtMGE5MS00YzYxLWFkNGItNzllYzdkNGY5NmU0IiwibVYiOjEsIm1IIjoiNmNiMDQ2ODQifQ==\",\"type\":\"ALBUM_HEADER\",\"width\":100,\"title\":\"\",\"description\":\"\",\"preTitle\":\"\",\"album\":{\"id\":175441105,\"title\":\"Maiilett\",\"duration\":198,\"streamReady\":true,\"streamStartDate\":\"2021-03-01T00:00:00.000+0000\",\"allowStreaming\":true,\"numberOfTracks\":1,\"numberOfVideos\":0,\"numberOfVolumes\":1,\"releaseDate\":\"2021-03-01\",\"copyright\":\"2861170 Records DK\",\"type\":\"SINGLE\",\"version\":null,\"url\":\"http://www.tidal.com/album/175441105\",\"cover\":\"c61b75cd-0159-4b63-9f25-27b3d6cedd63\",\"videoCover\":null,\"explicit\":false,\"popularity\":0,\"audioQuality\":\"LOSSLESS\",\"audioModes\":[\"STEREO\"],\"artists\":[{\"id\":23736224,\"name\":\"kapulett\",\"type\":\"MAIN\",\"picture\":\"2c913f90-da73-4ab8-9a6f-6e253ded1ee9\"}]},\"review\":{\"text\":null,\"source\":null},\"credits\":{\"items\":[]},\"playbackControls\":[{\"shuffle\":false,\"playbackMode\":\"PLAY\",\"title\":\"Play\",\"icon\":\"play_tracks\",\"targetModuleId\":\"eyJwIjoiZTZlM2ZmMWItZDZjNC00NzczLTg4ZDAtMGNmOTdjY2ZjYjU5IiwicFYiOjEzLCJtIjoiNjJmY2NhZTUtNDIwZC00MGJlLWJjZGMtZTUzODIwYzAwZjA5IiwibVYiOjEsIm1IIjoiMTQyNzYzZDcifQ==\"},{\"shuffle\":true,\"playbackMode\":\"SHUFFLE\",\"title\":\"Shuffle\",\"icon\":\"shuffle_tracks\",\"targetModuleId\":\"eyJwIjoiZTZlM2ZmMWItZDZjNC00NzczLTg4ZDAtMGNmOTdjY2ZjYjU5IiwicFYiOjEzLCJtIjoiNjJmY2NhZTUtNDIwZC00MGJlLWJjZGMtZTUzODIwYzAwZjA5IiwibVYiOjEsIm1IIjoiMTQyNzYzZDcifQ==\"}]}]},{\"modules\":[{\"id\":\"eyJwIjoiZTZlM2ZmMWItZDZjNC00NzczLTg4ZDAtMGNmOTdjY2ZjYjU5IiwicFYiOjEzLCJtIjoiNjJmY2NhZTUtNDIwZC00MGJlLWJjZGMtZTUzODIwYzAwZjA5IiwibVYiOjEsIm1IIjoiMTQyNzYzZDcifQ==\",\"type\":\"ALBUM_ITEMS\",\"width\":100,\"title\":\"\",\"description\":\"\",\"preTitle\":null,\"showMore\":null,\"supportsPaging\":false,\"quickPlay\":false,\"copyright\":\"2861170 Records DK\",\"releaseDate\":\"2021-03-01\",\"listFormat\":\"NUMBERS\",\"pagedList\":{\"limit\":9999,\"offset\":0,\"totalNumberOfItems\":1,\"items\":[{\"item\":{\"id\":175441106,\"title\":\"Maiilett\",\"duration\":198,\"version\":null,\"url\":\"http://www.tidal.com/track/175441106\",\"artists\":[{\"id\":23736224,\"name\":\"kapulett\",\"type\":\"MAIN\",\"picture\":\"2c913f90-da73-4ab8-9a6f-6e253ded1ee9\"}],\"album\":{\"id\":175441105,\"title\":\"Maiilett\",\"cover\":\"c61b75cd-0159-4b63-9f25-27b3d6cedd63\",\"vibrantColor\":\"#ebd1f9\",\"videoCover\":null,\"url\":\"http://www.tidal.com/album/175441105\",\"releaseDate\":\"2021-03-01\"},\"explicit\":false,\"volumeNumber\":1,\"trackNumber\":1,\"popularity\":0,\"allowStreaming\":true,\"streamReady\":true,\"streamStartDate\":\"2021-03-01T00:00:00.000+0000\",\"editable\":false,\"replayGain\":2.21,\"audioQuality\":\"LOSSLESS\",\"audioModes\":[\"STEREO\"],\"mixes\":{}},\"type\":\"track\"}],\"dataApiPath\":\"pages/data/2fbf68c2-dc58-49b1-b1be-6958e66383f3?albumId=175441105\"},\"playButton\":true,\"shuffleButton\":true}]}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "etag",
              "value": "\"663118124\""
            },
            {
              "name": "x-pollyjs-finalurl",
              "value": "https://listen.tidal.com/v1/pages/album?albumId=175441105&countryCode=NL&deviceType=BROWSER"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 407,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
