{
  "log": {
    "_recordingName": "vgmdb provider/extracting images from API/extracts all images",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "efe29df72e39408824f0a65c1eef4dcf",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            }
          ],
          "url": "https://vgmdb.info/album/96418?format=json"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 6900,
            "text": "{\n    \"arrangers\": [\n        {\n            \"link\": \"artist/9506\",\n            \"names\": {\n                \"en\": \"Masaharu Fukuyama\",\n                \"ja\": \"福山雅治\"\n            }\n        },\n        {\n            \"link\": \"artist/10445\",\n            \"names\": {\n                \"en\": \"Akira Inoue\",\n                \"ja\": \"井上鑑\"\n            }\n        }\n    ],\n    \"barcode\": \"4988005702401\",\n    \"catalog\": \"UUBH-9023\",\n    \"categories\": [\n        \"Animation\"\n    ],\n    \"category\": \"Animation\",\n    \"classification\": \"Vocal\",\n    \"composers\": [\n        {\n            \"link\": \"artist/9506\",\n            \"names\": {\n                \"en\": \"Masaharu Fukuyama\",\n                \"ja\": \"福山雅治\"\n            }\n        }\n    ],\n    \"covers\": [\n        {\n            \"full\": \"https://media.vgm.io/albums/81/96418/96418-1581893265.jpg\",\n            \"medium\": \"https://medium-media.vgm.io/albums/81/96418/96418-1581893265.jpg\",\n            \"name\": \"Jacket Front\",\n            \"thumb\": \"https://thumb-media.vgm.io/albums/81/96418/96418-1581893265.jpg\"\n        },\n        {\n            \"full\": \"https://media.vgm.io/albums/81/96418/96418-1581893266.jpg\",\n            \"medium\": \"https://medium-media.vgm.io/albums/81/96418/96418-1581893266.jpg\",\n            \"name\": \"Jacket Back\",\n            \"thumb\": \"https://thumb-media.vgm.io/albums/81/96418/96418-1581893266.jpg\"\n        }\n    ],\n    \"discs\": [\n        {\n            \"disc_length\": \"Unknown\",\n            \"name\": \"Disc 1\",\n            \"tracks\": [\n                {\n                    \"names\": {\n                        \"Japanese\": \"生きてる生きてく (物語)\"\n                    },\n                    \"track_length\": \"Unknown\"\n                },\n                {\n                    \"names\": {\n                        \"Japanese\": \"生きてる生きてく (TV Ver.) with 雅秋 & フクラージョ\"\n                    },\n                    \"track_length\": \"Unknown\"\n                },\n                {\n                    \"names\": {\n                        \"Japanese\": \"映画ドラえもん のび太と奇跡の島 ~アニマルアドベンチャー~ (予告映像)\"\n                    },\n                    \"track_length\": \"Unknown\"\n                },\n                {\n                    \"names\": {\n                        \"Japanese\": \"生きてる生きてく (予告映像) (福山雅治出演)\"\n                    },\n                    \"track_length\": \"Unknown\"\n                }\n            ]\n        }\n    ],\n    \"distributor\": {\n        \"link\": \"org/532\",\n        \"names\": {\n            \"en\": \"UNIVERSAL MUSIC LLC\",\n            \"ja\": \"ユニバーサルミュージック合同会社\",\n            \"ja-latn\": \"UNIVERSAL MUSIC LLC\"\n        },\n        \"role\": \"distributor\"\n    },\n    \"link\": \"album/96418\",\n    \"lyricists\": [\n        {\n            \"link\": \"artist/9506\",\n            \"names\": {\n                \"en\": \"Masaharu Fukuyama\",\n                \"ja\": \"福山雅治\"\n            }\n        }\n    ],\n    \"media_format\": \"DVD\",\n    \"meta\": {\n        \"added_date\": \"2020-02-16T14:47\",\n        \"edited_date\": \"2020-07-04T04:48\",\n        \"fetched_date\": \"2021-11-13T21:16\",\n        \"ttl\": 86400,\n        \"visitors\": 352\n    },\n    \"name\": \"\\\"Ikiteru Ikiteku\\\" TV Ver. with Masaaki & Fukurajyo / Masaharu Fukuyama\",\n    \"names\": {\n        \"en\": \"\\\"Ikiteru Ikiteku\\\" TV Ver. with Masaaki & Fukurajyo / Masaharu Fukuyama\",\n        \"ja\": \"「生きてる生きてく」TV Ver. with 雅秋&フクラージョ / 福山雅治\",\n        \"ja-latn\": \"\\\"Ikiteru Ikiteku\\\" TV Ver. with Masaaki & Fukurajyo / Masaharu Fukuyama\"\n    },\n    \"notes\": \"Anime Film \\\"Doraemon: Nobita to Kiseki no Shima ~Animal Adventure~\\\" Theme Song\",\n    \"organizations\": [\n        {\n            \"link\": \"org/2380\",\n            \"names\": {\n                \"en\": \"Universal Music\",\n                \"ja\": \"Universal Music\",\n                \"ja-latn\": \"Universal Music\"\n            },\n            \"role\": \"label\"\n        },\n        {\n            \"link\": \"org/532\",\n            \"names\": {\n                \"en\": \"UNIVERSAL MUSIC LLC\",\n                \"ja\": \"ユニバーサルミュージック合同会社\",\n                \"ja-latn\": \"UNIVERSAL MUSIC LLC\"\n            },\n            \"role\": \"distributor\"\n        }\n    ],\n    \"performers\": [\n        {\n            \"link\": \"artist/9506\",\n            \"names\": {\n                \"en\": \"Masaharu Fukuyama\",\n                \"ja\": \"福山雅治\"\n            }\n        }\n    ],\n    \"picture_full\": \"https://media.vgm.io/albums/81/96418/96418-1581893265.jpg\",\n    \"picture_small\": \"https://medium-media.vgm.io/albums/81/96418/96418-1581893265.jpg\",\n    \"picture_thumb\": \"https://thumb-media.vgm.io/albums/81/96418/96418-1581893265.jpg\",\n    \"platforms\": [\n        \"Movie\"\n    ],\n    \"products\": [\n        {\n            \"link\": \"product/5472\",\n            \"names\": {\n                \"en\": \"Eiga Doraemon: Nobita to Kiseki no Shima ~Animal Adventure~\",\n                \"ja\": \"映画 ドラえもん のび太と奇跡の島 ~アニマル アドベンチャー~\",\n                \"ja-latn\": \"Eiga Doraemon: Nobita to Kiseki no Shima ~Animal Adventure~\"\n            }\n        }\n    ],\n    \"publish_format\": \"Commercial\",\n    \"publisher\": {\n        \"link\": \"org/2380\",\n        \"names\": {\n            \"en\": \"Universal Music\",\n            \"ja\": \"Universal Music\",\n            \"ja-latn\": \"Universal Music\"\n        },\n        \"role\": \"label\"\n    },\n    \"related\": [\n        {\n            \"catalog\": \"UUCH-5081\",\n            \"date\": \"2012-03-28\",\n            \"link\": \"album/96419\",\n            \"names\": {\n                \"en\": \"Ikiteru Ikiteku / Masaharu Fukuyama\",\n                \"ja\": \"生きてる生きてく / 福山雅治\",\n                \"ja-latn\": \"Ikiteru Ikiteku / Masaharu Fukuyama\"\n            },\n            \"type\": \"anime\"\n        },\n        {\n            \"catalog\": \"UUCH-9043\",\n            \"date\": \"2012-03-28\",\n            \"link\": \"album/96420\",\n            \"names\": {\n                \"en\": \"Ikiteru Ikiteku / Masaharu Fukuyama [Limited Ed...\",\n                \"ja\": \"生きてる生きてく / 福山雅治\",\n                \"ja-latn\": \"Ikiteru Ikiteku / Masaharu Fukuyama [Limited Ed...\"\n            },\n            \"type\": \"anime\"\n        },\n        {\n            \"catalog\": \"UUCH-9044\",\n            \"date\": \"2012-03-28\",\n            \"link\": \"album/96421\",\n            \"names\": {\n                \"en\": \"Ikiteru Ikiteku / Masaharu Fukuyama [Limited Ed...\",\n                \"ja\": \"生きてる生きてく / 福山雅治\",\n                \"ja-latn\": \"Ikiteru Ikiteku / Masaharu Fukuyama [Limited Ed...\"\n            },\n            \"type\": \"anime\"\n        }\n    ],\n    \"release_date\": \"2012-02-22\",\n    \"release_events\": [],\n    \"release_price\": {\n        \"currency\": \"JPY\",\n        \"price\": 525.0\n    },\n    \"reprints\": [],\n    \"vgmdb_link\": \"https://vgmdb.net/album/96418?perpage=99999\",\n    \"votes\": 0\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Sat, 04 Jul 2020 04:48:00 +0000"
            },
            {
              "name": "x-pollyjs-finalurl",
              "value": "https://vgmdb.info/album/96418?format=json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 3221,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
