{
  "log": {
    "_recordingName": "getting releases for URLs/returns empty list when no release is attached to URL",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "303e1b8705b5a2e6ab0833e45a1d05cc",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "resource",
              "value": "https://www.discogs.com/artist/5788865"
            },
            {
              "name": "inc",
              "value": "release-rels"
            },
            {
              "name": "fmt",
              "value": "json"
            }
          ],
          "url": "https://musicbrainz.org/ws/2/url?resource=https%3A%2F%2Fwww.discogs.com%2Fartist%2F5788865&inc=release-rels&fmt=json"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 112,
            "text": "{\"id\":\"b3853e43-d80f-48af-80a7-117021f04e30\",\"resource\":\"https://www.discogs.com/artist/5788865\",\"relations\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "1200"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "986"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1636203026"
            },
            {
              "name": "etag",
              "value": "\"967ca9cd94200adb60d26536a450bfc1\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 163,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
