{
  "log": {
    "_recordingName": "vgmdb provider/finding images/does not find all images if some are not public",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "cdf22581e381a4e3952da3fb7012ed71",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            }
          ],
          "url": "https://vgmdb.info/album/79?format=json"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 13953,
            "text": "{\n    \"arrangers\": [\n        {\n            \"link\": \"artist/77\",\n            \"names\": {\n                \"en\": \"Nobuo Uematsu\",\n                \"ja\": \"植松伸夫\"\n            }\n        },\n        {\n            \"link\": \"artist/125\",\n            \"names\": {\n                \"en\": \"Shiro Hamaguchi\",\n                \"ja\": \"浜口史郎\"\n            }\n        }\n    ],\n    \"barcode\": \"4517331100379\",\n    \"catalog\": \"SSCX-10037\",\n    \"categories\": [\n        \"Game\"\n    ],\n    \"category\": \"Game\",\n    \"classification\": \"Arrangement\",\n    \"composers\": [\n        {\n            \"link\": \"artist/77\",\n            \"names\": {\n                \"en\": \"Nobuo Uematsu\",\n                \"ja\": \"植松伸夫\"\n            }\n        }\n    ],\n    \"covers\": [\n        {\n            \"full\": \"https://media.vgm.io/albums/97/79/79-1264618929.png\",\n            \"medium\": \"https://medium-media.vgm.io/albums/97/79/79-1264618929.png\",\n            \"name\": \"Booklet Front\",\n            \"thumb\": \"https://thumb-media.vgm.io/albums/97/79/79-1264618929.png\"\n        },\n        {\n            \"full\": \"https://media.vgm.io/albums/97/79/79-1264617804.png\",\n            \"medium\": \"https://medium-media.vgm.io/albums/97/79/79-1264617804.png\",\n            \"name\": \"Back\",\n            \"thumb\": \"https://thumb-media.vgm.io/albums/97/79/79-1264617804.png\"\n        },\n        {\n            \"full\": \"https://media.vgm.io/albums/97/79/79-1264618890.png\",\n            \"medium\"[...]
