{
  "log": {
    "_recordingName": "bandcamp provider/returns no images if release has no cover",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "5ba9adc294ec57047e24d0f48659121e",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://indigochill.bandcamp.com/track/eon-indigo-remix"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "size": 174939,
            "text": "    \n\n<!DOCTYPE html>\n\n\n\n<html   xmlns:og=\"http://opengraphprotocol.org/schema/\"\n        xmlns:fb=\"http://www.facebook.com/2008/fbml\"\n        lang=\"en\">\n\n<head>\n    <title>Eon (Indigo Remix) | Indigo</title>\n    \n    \n\n\n\n    <meta name=\"description\" content=\"\nEon (Indigo Remix) by Indigo, released 15 March 2010\n\n\">\n    \n    \n    <link rel=\"apple-touch-icon\" sizes=\"180x180\" href=\"https://s4.bcbits.com/img/favicon/apple-touch-icon.png\">\n    <link rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"https://s4.bcbits.com/img/favicon/favicon-32x32.png\">\n    <link rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"https://s4.bcbits.com/img/favicon/favicon-16x16.png\">\n    <link rel=\"mask-icon\" href=\"https://s4.bcbits.com/img/favicon/safari-pinned-tab.svg\" color=\"#1da0c3\">\n\n\n<meta name=\"msapplication-TileC[...]
