{
  "log": {
    "_recordingName": "discogs provider/extracting images/extracts covers for release",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.1"
    },
    "entries": [
      {
        "_id": "f14af08925617f9c2183cb046a50c703",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "operationName",
              "value": "ReleaseAllImages"
            },
            {
              "name": "variables",
              "value": "{\"discogsId\":9892912,\"count\":500}"
            },
            {
              "name": "extensions",
              "value": "{\"persistedQuery\":{\"version\":1,\"sha256Hash\":\"13e41f41a02b02d0a7e855a71e1a02478fd2fb0a2d104b54931d649e1d7c6ecd\"}}"
            }
          ],
          "url": "https://www.discogs.com/internal/release-page/api/graphql?operationName=ReleaseAllImages&variables=%7B%22discogsId%22%3A9892912%2C%22count%22%3A500%7D&extensions=%7B%22persistedQuery%22%3A%7B%22version%22%3A1%2C%22sha256Hash%22%3A%2213e41f41a02b02d0a7e855a71e1a02478fd2fb0a2d104b54931d649e1d7c6ecd%22%7D%7D"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 3183,
            "text": "{\"data\":{\"release\":{\"discogsId\":9892912,\"images\":{\"totalCount\":3,\"edges\":[{\"node\":{\"id\":\"SW1hZ2U6NDQwNTM4MDM=\",\"fullsize\":{\"sourceUrl\":\"https://img.discogs.com/cGX5KW1uJCaiPRzaRY8iE3btV3g=/fit-in/600x624/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-9892912-1579456707-2320.jpeg.jpg\",\"webpUrl\":\"https://img.discogs.com/uzedxioazWqWsEVFI2w4tC3WtF4=/fit-in/600x624/filters:strip_icc():format(webp):mode_rgb():quality(90)/discogs-images/R-9892912-1579456707-2320.jpeg.jpg\",\"width\":626,\"height\":652,\"__typename\":\"ImageInfo\"},\"thumbnail\":{\"sourceUrl\":\"https://img.discogs.com/husmGPLvKp_kDmwLCXA_fc75LcM=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-9892912-1579456707-2320.jpeg.jpg\",\"webpUrl\":\"https://img.discogs.com/IPnzkFn_NCIl1R62mlS6EzGuwcY=/fit-in/300x300/filters:strip_icc():format(webp):mode_rgb():quality(40)/discogs-images/R-9892912-1579456707-2320.jpeg.jpg\",\"width\":150,\"height\":156,\"__typename\":\"ImageInfo\"},\"__typename\":\"Image\"},\"__typename\":\"ImagesEdge\"},{[...]
