{
  "log": {
    "_recordingName": "bandcamp provider/extracting images/extracts covers for release",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.1"
    },
    "entries": [
      {
        "_id": "351e94e06bcb504ccc9520a73013f31a",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://powergameheavy.bandcamp.com/album/the-lockdown-tapes"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "size": 311596,
            "text": "    \n\n<!DOCTYPE html>\n\n\n\n<html   xmlns:og=\"http://opengraphprotocol.org/schema/\"\n        xmlns:fb=\"http://www.facebook.com/2008/fbml\"\n        lang=\"en\">\n\n<head>\n    <title>The Lockdown Tapes | Powergame</title>\n    \n    \n\n\n\n    <meta name=\"description\" content=\"\nThe Lockdown Tapes by Powergame, released 24 December 2020\n\n1. Unnatural Rites\n2. Silent Killer\n3. Pandemic Nightmare\n4. Vengeance From The Grave\n5. Shellshock\n\nThese five songs were written in the year 2020 with limited rehearsal opportunities. All of the songs are quite diverse, from fast to slow, to epic stuff you will find anything you like about Powergame on this EP!\r\n\r\nRecorded in our rehearsal room, mixed and mastered by Jörg Uken at Soundlodge studio. Cover artwork by Kostas Tsiakis.\r\nReleased on CD via Iron Shield Records, vinyl by Fucking Kill! Records and tape by ourselves.\r\n\r\nShellshock is a coverversion with guest vocals provided by Jarvis Leatherby from Night Demon.\r\n\r\n\r\nThe EP will be shipped from February 2021, it depends on the delivery date of the vinyl.\n\">\n    \n     \n    <link rel=\"shortcut icon\" href=\"https://f4.bcbits.com/img/a3886966548_3.jpg\">\n    <link rel=\"apple-touch-icon\" href=\"https://f4.bcbits.com/img/a3886966548_3.jpg\">\n\n\n<meta name=\"msapplication-TileColor\" content=\"#603cba\">\n<meta name=\"theme-color\" content=\"#ffffff\">\n    <meta name=\"apple-mobile-web-app-capable\" content=\"yes\">\n    \n    \n\n    \n    \n        <meta name=\"title\" content=\"The Lockdown Tapes, by Powergame\">\n        <meta property=\"og:title\" content=\"The L[...]
