{
  "log": {
    "_recordingName": "bandcamp provider/deduplicates track images by full-res content",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "8ea47dea5903c20178e0da1ca854fa15",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://svengahli.bandcamp.com/album/nightmares-of-our-design"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "size": 275739,
            "text": "    \n\n<!DOCTYPE html>\n\n\n\n<html   xmlns:og=\"http://opengraphprotocol.org/schema/\"\n        xmlns:fb=\"http://www.facebook.com/2008/fbml\"\n        lang=\"en\">\n\n<head>\n    <title>Nightmares Of Our Design | Svengahli</title>\n    \n    \n\n\n\n    <meta name=\"description\" content=\"\nNightmares Of Our Design by Svengahli, released 06 March 2020\n\n1. Writing On The Wall\n2. Nightmares Of Our Own Design I: Echoes Of Prejudice\n3. Nightmares Of Our Own Design II: Adrift\n4. Nightmares Of Our Own Design III: Our Hate Ignited\n\nDebut EP from Baltimore based project Svengahli\n\">\n    \n     \n    <link rel=\"shortcut icon\" href=\"https://f4.bcbits.com/img/a3017340363_3.jpg\">\n    <link rel=\"apple-touch-icon\" href=\"https://f4.bcbits.com/img/a3017340363_3.jpg\">\n\n\n<meta name=\"msapplication-TileColor\" content=\"#603cba\">\n<meta name=\"theme-color\" content=\"#ffffff\">\n    <meta name=\"apple-mobile-web-app-capable\" content=\"yes\">\n    \n    \n\n    \n    \n        <meta name=\"title\" content=\"Nightmares Of Our Design, by Svengahli\">\n        <meta property=\"og:title\" content=\[...]
