{
  "log": {
    "_recordingName": "qobuz provider/extracting images/with invalid app ID/throws on invalid app ID",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "9b1a85dcba5c1f2096419e2730ac992b",
        "request": {
          "headers": [
            {
              "name": "x-app-id",
              "value": "123"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "album_id",
              "value": "0825646089178"
            },
            {
              "name": "offset",
              "value": "0"
            },
            {
              "name": "limit",
              "value": "20"
            }
          ],
          "url": "https://www.qobuz.com/api.json/0.2/album/get?album_id=0825646089178&offset=0&limit=20"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 77,
            "text": "{\"status\":\"error\",\"code\":400,\"message\":\"Invalid or missing app_id parameter\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-pollyjs-finalurl",
              "value": "https://www.qobuz.com/api.json/0.2/album/get?album_id=0825646089178&offset=0&limit=20"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 290,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
