{
  "log": {
    "_recordingName": "tidal provider/throws if release does not exist",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "47c39b1a5162a6c91ca5b413317109d4",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://listen.tidal.com/v1/ping"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 2,
            "text": "OK"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 307,
      },
      {
        "_id": "8390b2b3587b3d0651e5863e04b030a3",
        "request": {
          "headers": [
            {
              "name": "x-tidal-token",
              "value": "CzET4vdadNUFQ5JU"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "albumId",
              "value": "1"
            },
            {
              "name": "countryCode",
              "value": "NL"
            },
            {
              "name": "deviceType",
              "value": "BROWSER"
            }
          ],
          "url": "https://listen.tidal.com/v1/pages/album?albumId=1&countryCode=NL&deviceType=BROWSER"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 57,
            "text": "{\"status\":404,\"subStatus\":2001,\"userMessage\":\"Not found\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-edge-origin-shield-skipped",
              "value": "0"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 304,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
